<nav
  class="the-navbar navbar"
  aria-label="main navigation"
  role="navigation"
>
  <div class="navbar-brand">
    <a
      [routerLink]="['/']"
      class="navbar-item-brand is-flex"
      [class.is-active]="router.url === '/'"
    >
      <img
        src="../../assets/img/logo.svg"
        width="112"
        height="28"
        i18n-alt
        alt="visomi.dev software architect"
        i18n-title
        title="visomi.dev software architect"
      >
    </a>

    <a
      class="navbar-burger"
      (click)="ui.toggleNavbar()"
      aria-label="menu"
      aria-expanded="false"
      role="button"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div
    id="navbar-menu"
    class="navbar-menu"
    [class.is-active]="ui.navbar"
  >
    <div class="navbar-end">
      <a
        class="navbar-item"
        [class.is-active]="router.url === '/'"
        [routerLink]="['/']"
        i18n="link to home page"
      >
        HOME
      </a>

      <a
        class="navbar-item"
        [class.is-active]="router.url === '/about'"
        [routerLink]="['/about']"
        i18n="link to about page"
      >
        ABOUT
      </a>

      <a
        class="navbar-item"
        [class.is-active]="router.url === '/portfolio'"
        [routerLink]="['/portfolio']"
        i18n="link to portfolio page"
      >
        PORTFOLIO
      </a>

      <a
        class="navbar-item"
        [class.is-active]="router.url === '/contact'"
        [routerLink]="['/contact']"
        i18n="link to contact page"
      >
        CONTACT
      </a>
    </div>
  </div>
</nav>
