$magic-potion: #ff495c
$midnight-express: #000033

$primary: #60c9b0

$success: #6bfec4
$info: #296dfe
$link: #f5f5f5
$link-hover: #ffffff
$warning: #ffd369
$danger: $magic-potion

$custom-colors: ()

@import '@visomi/vaka/sass/utilities/_all'
@import '@visomi/vaka/sass/base/_all'
@import '@visomi/vaka/sass/helpers/_all'
@import '@visomi/vaka/sass/elements/icon'
@import '@visomi/vaka/sass/elements/title'
@import '@visomi/vaka/sass/components/navbar'
@import '@visomi/vaka/sass/grid/columns'

html,
body
  background: var(--body-background)
  overflow-y: var(--body-overflow-y)

  margin: var(--body-margin)
